<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buddy_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{44,0},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,56}</string>
                <key>spriteSourceSize</key>
                <string>{45,56}</string>
                <key>textureRect</key>
                <string>{{89,0},{45,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,57}</string>
                <key>spriteSourceSize</key>
                <string>{45,57}</string>
                <key>textureRect</key>
                <string>{{134,0},{45,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buddy_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{179,0},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enermy_2.png</string>
            <key>size</key>
            <string>{223,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3773d81a45f4497c29b006680e6f9ba:be70059ff1c079454ecee91c9a0801c9:2cecc2c053d9f1398e6e3373044efa3d$</string>
            <key>textureFileName</key>
            <string>enermy_2.png</string>
        </dict>
    </dict>
</plist>
