<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enermy_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enermy_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,61}</string>
                <key>spriteSourceSize</key>
                <string>{47,61}</string>
                <key>textureRect</key>
                <string>{{45,0},{47,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enermy_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,57}</string>
                <key>spriteSourceSize</key>
                <string>{45,57}</string>
                <key>textureRect</key>
                <string>{{92,0},{45,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enermy_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,59}</string>
                <key>spriteSourceSize</key>
                <string>{46,59}</string>
                <key>textureRect</key>
                <string>{{137,0},{46,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enermy_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,58}</string>
                <key>spriteSourceSize</key>
                <string>{45,58}</string>
                <key>textureRect</key>
                <string>{{183,0},{45,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pestTypes.png</string>
            <key>size</key>
            <string>{228,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e386a4c59d6ee9c8d37484677cbf2618:3c349914d91d7e3f8867ee081ae5fb62:d8dd6727ffb8c63b529f0744ba451d04$</string>
            <key>textureFileName</key>
            <string>pestTypes.png</string>
        </dict>
    </dict>
</plist>
