<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enermy_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,63}</string>
                <key>spriteSourceSize</key>
                <string>{45,63}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enermy_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,63}</string>
                <key>spriteSourceSize</key>
                <string>{48,63}</string>
                <key>textureRect</key>
                <string>{{45,0},{48,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enermy_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,60}</string>
                <key>textureRect</key>
                <string>{{93,0},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enermy_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,62}</string>
                <key>spriteSourceSize</key>
                <string>{47,62}</string>
                <key>textureRect</key>
                <string>{{137,0},{47,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enermy_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,59}</string>
                <key>spriteSourceSize</key>
                <string>{45,59}</string>
                <key>textureRect</key>
                <string>{{184,0},{45,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enermy_2.png</string>
            <key>size</key>
            <string>{229,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33f6925e7c09ada1aa4cb435ac75f13a:04dd64b27fae978a0d1565344dd0b096:2cecc2c053d9f1398e6e3373044efa3d$</string>
            <key>textureFileName</key>
            <string>enermy_2.png</string>
        </dict>
    </dict>
</plist>
